

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div id="janaina-e-hugo" class="navbar-brand">
    Janaina <span class="rosa">&amp;</span> Hugo
  </div>
  <div class="navbar-collapse collapse navbar-container">
    <div class="nav navbar-nav navbar-left rosa">
        27 de Outubro de 2017, às 20:00
    </div>
    <div class="nav navbar-nav navbar-right rosa">
      Countdown &amp; Countup
    </div>
  </div>
		<!-- Brand and toggle get grouped for better mobile display -->
		{{!--<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
			<a class="navbar-brand topnav" href="#">
				Foo
			</a>
		</div>--}}
		<!-- Collect the nav links, forms, and other content for toggling -->
		{{!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-center">
				<li><a href="#local">Nossa História</a></li>
				<li><a href="#local">Local</a></li>
				<li><a href="#horario">Horário</a></li>
				<li><a href="#lista">Lista de Presentes</a></li>
				<li><a href="#confirmacao">Eu vou!</a></li>
			</ul>
		</div>--}}
</nav>