<!-- Header -->
<nav class="navbar navbar-default" role="navigation">
  <div id="janaina-e-hugo" class="navbar-brand">
    Janaina <span class="rosa">&amp;</span> Hugo
  </div>
  <div class="navbar-collapse collapse navbar-container">
    <div class="nav navbar-nav navbar-left rosa">
        27 de Outubro de 2017, às 20:00
    </div>
    <div class="nav navbar-nav navbar-right rosa">
      {{wedding-countdown}}
    </div>
  </div>
</nav>