<a name="{{link}}"></a>
<section class="section section-{{type}}">
  {{yield}}
</section>

<div class="text-center" style="margin-top: 10px; margin-bottom: 10px;">
  <img src="/assets/images/title-section-bg.png" alt="<===>" />
</div>
