<!-- This visibility has to match the index/nav-column -->
<nav class="hidden-xs hidden-sm">
  <ul id="menu-lateral" class="">
    <li><a href="#sobre">Sobre nós</a></li>
    <li><a href="#local">Cerimônia e Recepção</a></li>
    <li><a href="#padrinhos">Sobre os padrinhos</a></li>
    <li><a href="#lista-presentes">Lista de presentes</a></li>
    <li><a href="#rsvp">RSVP</a></li>
    <li><a href="#mapa">Mapa do Local</a></li>
  </ul>
</nav>