<span>
{{countdown-string
  startDate=weddingDate
  singularLabel=' milissegundo| segundo| minuto| hora| dia| semana| mês| ano| década| século| milênio'
  pluralLabel=' milissegundos| segundos| minutos| horas| dias| semanas| meses| anos| décadas| séculos| milênios'
  lastLabel=' e '
  delimLabel=', '
  emptyLabel='agora'
}}
</span>