@import "globals";

// #menu-lateral {
//   position: fixed;
//   left: 0;
//   top: 50%;
//   width: 8em;
//   margin-top: -2.5em;
// }
#menu-lateral {
  background-image: url('/assets/images/birds.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left left;
  padding-top: 128px;
  font-size: 15pt;
  color: $rosa;
  margin-top: 40px;

  position: fixed;
  left: 0;
  width: 13em;

  li {
    a {
      color: $rosa;
    }
  }
}
