<main>

  <div class="jumbotron">
    <div class="container-fluid">
      <header id="janaina-e-hugo">
        Janaina <span class="rosa">&amp;</span> Hugo
      </header>
      <img src="/assets/images/hugo-e-janaina-lg-1920x1080.jpg" alt="Hugo e Janaina" class="img-responsive" />
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="panel panel-default card">
        <div class="panel-heading">
          <h2 class="panel-title">Sobre Nós</h2>
        </div>
        <div class="panel-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae enim vel lectus mattis posuere. Ut ac suscipit augue. Integer diam ligula, hendrerit condimentum est in, consectetur ultrices sapien. Morbi sit amet ultricies risus. Donec bibendum, sapien feugiat lobortis sagittis, orci libero porttitor velit, et pellentesque enim arcu non leo. Curabitur ullamcorper quam ut purus facilisis, ut tristique libero gravida. Integer et leo vestibulum, congue arcu ac, rhoncus nisi. Etiam vel nisi porttitor dui pretium efficitur. Suspendisse molestie molestie molestie. Donec ultrices elementum quam non feugiat. Pellentesque gravida mauris mauris, ut placerat est tempor ac. In tortor justo, laoreet eget tincidunt quis, lobortis et tellus. Pellentesque porta dolor metus, et dictum nunc fermentum sit amet.
          </p>
          <p>
            Ut sit amet accumsan risus, sed volutpat arcu. Maecenas eget hendrerit mi. Nam at blandit diam, vel feugiat tellus. Ut gravida ut augue iaculis fermentum. In facilisis massa vel tempus sodales. Sed placerat dolor eu nisl vehicula, eget sagittis augue vehicula. Mauris aliquet sagittis diam vel tempus. Praesent eu nulla bibendum, dictum nulla ut, vestibulum enim.
          </p>
        </div>
      </div>
    </div>
  </div>

</main>
