<div class="container">
  <div class="row">

    <!-- Menu Lateral -->
    <!-- <div id="nav-column" class="col-md-3 col-lg-3">
      <nav id="menu-lateral" class="hidden-xs hidden-sm">

        <ul class="">
          <li><a href="#sobre">Sobre nós</a></li>
          <li><a href="#local">Cerimônia e Recepção</a></li>
          <li><a href="#padrinhos">Sobre os padrinhos</a></li>
          <li><a href="#lista-presentes">Lista de presentes</a></li>
          <li><a href="#rsvp">RSVP</a></li>
          <li><a href="#mapa">Mapa do Local</a></li>
        </ul>
      </nav>
    </div> -->

    <!-- Corpo da Página -->
    <!-- <div class="col-md-9 col-lg-9"> -->
    <div class="col-md-12">
      <main>

        <!-- Seção FOTO -->
        {{#page-section link='photoslide' type='b'}}
          <header id="janaina-e-hugo">
            Janaina <span class="rosa">&amp;</span> Hugo
          </header>

          {{page-carousel}}
        {{/page-section}}

        {{#page-section links='sobre' type='a'}}
          <header>
            <h2 class="section-heading">Sobre Nós</h2>
          </header>
        {{/page-section}}

        {{#page-section links='sobre' type='b'}}
          <header>
            <h2 class="section-heading">Sobre os Padrinhos</h2>
          </header>

          <div class="panel panel-default">
            <div class="panel-body">
              Lorem Epson
            </div>
          </div>
        {{/page-section}}

        {{#page-section link='local' type='a'}}
          <header>
            <h2 class="section-heading">Lista de Presentes</h2>
          </header>
              {{!--<img src="/assets/images/birds.svg" alt="[img] Pássaros" class="img-responsive">--}}

        {{/page-section}}

        {{#page-section link='mapa' type='b'}}
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Ilmar Buffet</h2>
              <p class="lead">Endereço: </p>
              <p>Rua Miranda Coelho, 1111<br/>Eng. Luciano Cavalcante, Fortaleza - CE</p>

              <img src="/assets/images/passarinhos.png" alt="Hugo e Janaina" class="img-responsive">
            </div>
            <div class="col-lg-9 col-sm-6 embed-responsive embed-responsive-16by9">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.1609586950735!2d-38.48814188591824!3d-3.7751343444673817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74f57cb4d6629%3A0x896b7f5fd2eb3116!2sIlmar+Gourmet+-+Buffet!5e0!3m2!1spt-BR!2sbr!4v1486337891637"
                class="embed-responsive-item"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        {{/page-section}}

        {{#page-section links='sobre' type='a'}}
          <header>
            <h3 class="section-heading">Confirme sua presença!</h3>
          </header>
          <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-4"></div>
            <div class="col-sm-10 col-md-8 col-lg-4">

              <form action="">
                <div class="form-group">
                  Quero confirmar {{input type="number" min="1" max="4" value=model.rsvpNumeroPessoas}} pessoas
                </div>
                <div class="form-group">
                  {{input type="text" class="form-control" value=rsvp placeholder="Vão em casal? Confirme seu par aqui também! :)"}}
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Confirmar!</button>
                </div>
              </form>

            </div>
            <div class="col-sm-1 col-md-2 col-lg-4"></div>
          </div>
        {{/page-section}}

      </main>
    </div>
  </div>
</div>
