<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Hugo e Janaina</a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Local</a></li>
			<li><a href="#">Horário</a></li>
			<li><a href="#">Lista de Presentes</a></li>
			<li><a href="#">Eu Vou!</a></li>
		</ul>
	</div>
</nav>